{#

This file is part of the RzProject package.

(c) mell m. zamora <me@mellzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/rmzamorajquery/jquery-plugins/morris/css/morris.css') }}">
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/gmirecommendation/css/audience-graph.css') }}" />
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/rmzamorajquery/jquery-plugins/morris/js/raphael-min.js')}}"></script>
	<script type="text/javascript" src="{{ asset('bundles/rmzamorajquery/jquery-plugins/morris/js/morris.min.js')}}"></script>		
	<script type="text/javascript" src="{{ asset('bundles/rmzamorajquery/jquery-plugins/tinycolor/tinycolor-min.js')}}"></script>
{% endblock javascripts %}



{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block admin_module_title %}
    <div class="page-header">
        <div class="pull-left">
            <h1>Dashboard</h1>
        </div>
        <div class="pull-right">
            <ul class="stats">
                <li class='red'>
                    <i class="icon-calendar"></i>
                    <div class="details">
                        <span class="big">February 22, 2013</span>
                        <span>Wednesday, 13:56</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock admin_module_title %}
{% block breadcrumb %}
    <li>Home</li>
{% endblock %}
{% block content %}

    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}

    {% if blocks.top|length > 0 %}
        <div class="row-fluid">
            {% for block in blocks.top %}
                {% if block.type != 'sonata.block.service.text' %}
                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% else %}
                <div class="box box-color box-bordered">
                    <div class="box-title">
                        <h3><i class="icon-info-sign"></i></h3>
                    </div>
                    <div class="box-content">
                        <div class="{{ block.class }}">
                            {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row-fluid">
        {% set has_center = false %}

        <div class="{% if blocks.center|length > 0 %}span4{% else %}span6{% endif %}">
            {% for block in blocks.left %}
                {% if block.type != 'sonata.block.service.text' %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% else %}
                    <div class="box box-color box-bordered">
                        <div class="box-title">
                            <h3><i class="icon-info-sign"></i></h3>
                        </div>
                        <div class="box-content">
                            <div class="{{ block.class }}">
                                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if blocks.center|length > 0 %}
            <div class="span4">
                {% for block in blocks.center %}
                    {% if block.type != 'sonata.block.service.text' %}
                        {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                    {% else %}
                        <div class="box box-color box-bordered">
                            <div class="box-title">
                                <h3><i class="icon-info-sign"></i></h3>
                            </div>
                            <div class="box-content">
                                <div class="{{ block.class }}">
                                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="{% if blocks.center|length > 0 %}span4{% else %}span6{% endif %}">
            {% for block in blocks.right %}
                {% if block.type != 'sonata.block.service.text' %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% else %}
                    <div class="box box-color box-bordered">
                        <div class="box-title">
                            <h3><i class="icon-info-sign"></i></h3>
                        </div>
                        <div class="box-content">
                            <div class="{{ block.class }}">
                                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if blocks.bottom|length > 0 %}
        <div class="row-fluid">
            {% for block in blocks.bottom %}
                {% if block.type != 'sonata.block.service.text' %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% else %}
                    <div class="box box-color box-bordered">
                        <div class="box-title">
                            <h3><i class="icon-info-sign"></i></h3>
                        </div>
                        <div class="box-content">
                            <div class="{{ block.class }}">
                                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}



    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}

{% endblock %}