<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>{{ rz_twig_app_error_title }}: {{ status_text }}</title>

    {% block stylesheets %}
        {% stylesheets '@RmzamoraBootstrapBundle/Resources/public/css/bootstrap.css'
                       '@RmzamoraBootstrapBundle/Resources/public/css/docs.min.css'
                       '@RmzamoraBootstrapBundle/Resources/public/css/bootstrap-responsive.css'
            filter='?yui_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets 'bundles/rzadmin/css/style.css'
                       'bundles/rzadmin/css/rz-style.css'
                       'bundles/rzadmin/css/themes.css'
                       'bundles/rzadmin/css/rz-theme.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}

     {% block javascripts %}
         {# modernizr  #}
         <script src="{{ asset('bundles/rzadmin/js/modernizr.custom.42016.js') }}" type="text/javascript"></script>
         {# jquery  #}
         <script src="{{ asset('bundles/rmzamorajquery/jquery/jquery.min.js') }}" type="text/javascript"></script>

        {% javascripts '@RmzamoraBootstrapBundle/Resources/public/js/bootstrap.min.js'
            filter='?closure' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!--[if lte IE 9]>
        <script src="{{ asset('bundles/rzadmin/js/plugins/placeholder/jquery.placeholder.min.js')}}"></script>
        <script>
            $(document).ready(function() {
                $('input, textarea').placeholder();
            });
        </script>
        <![endif]-->
     {% endblock javascripts %}

    <!-- Favicon -->
    <link href="{{ asset('bundles/rmzamorabootstrap/ico/favicon.ico') }}" rel="shortcut icon">
</head>

<body class="theme-darkblue error">
<div class="wrapper">
    <div class="code"><span>404</span><i class="icon-warning-sign"></i></div>
    <div class="desc">The server returned a "{{ status_code }} {{ status_text }}"</div>
    <div class="buttons">
        <div style="text-align: center"><a href="/" class="btn"><i class="icon-arrow-left"></i> Back</a></div>
    </div>
</div>

</body>

</html>
