<div class="span3 admin-table-footer-batch">
    <script type="text/javascript">
        {% block table_footer_batch_javascript %}
        sonata_rz_list.initBatchAction();
        {% endblock %}
    </script>
    <label class="control-label" for="{{ admin.uniqid }}_all_elements">
        <input type="checkbox" class="uni_style_batch_action" name="all_elements" id="{{ admin.uniqid }}_all_elements"/>
        {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
    </label>
    <div class="controls">
        <select class="span6 selectpicker show-tick" title='Choose one..' name="action">
            <option></option>
            {% for action, options in batchactions %}
                <option value="{{ action }}">{{ options.label }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn"><i class="icon-cogs"></i> {{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}</button>
    </div>
</div>
