<div id='rz-admin-list-settings-batch-action-container' class='rz-admin-form-batch-action'>
    <div class='control-group'>
        <div class='row-fluid'>
            <div class='check-line'>
                <input class='icheck-me' data-skin='square' data-color='red' type='checkbox' name='all_elements' id='{{ admin.uniqid }}_all_elements'/>
                <label class='control-label inline'  for='{{ admin.uniqid }}_all_elements'>
                    {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                </label>
            </div>
            <select class='selectpicker show-tick span12' title='Choose one..' name='action'>
                <option></option>
                {% for action, options in batchactions %}
                    <option value='{{ action }}'>{{ options.label }}</option>
                {% endfor %}
            </select>
            <button type='submit' class='btn btn-primary'><i class='icon-cogs'></i> {{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}</button>
        </div>
    </div>
</div>
