{#

This file is part of the Rz package.

(c) mell m. zamora <me@rmzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block form_orientation_type %} form-vertical form-bordered{% endblock form_orientation_type %}

{% block form_basic %}
    {% spaceless %}
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-file-alt"></i>
                    {% if admin.id(object) %}
                        {{ "title_edit"|trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
                    {% else %}
                        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
                    {% endif %}
                </h3>
            </div>
            <div class="box-content nopadding">
                <form class="rz-form{{ block('form_orientation_type') }}"
                    action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
                    method="POST"
                    {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
                    >
                    {% if form.vars.errors|length > 0 %}
                        <div class="rz-form-alert-block">
                            <div class="alert alert-block alert-error sonata-ba-form-error">
                                <a class="close" data-dismiss="alert"><i class="icon-remove-sign"></i></a>
                                {{ form_errors(form) }}
                            </div>
                        </div>
                    {% endif %}
                    {{ block('form_body') }}
                    {{ form_rest(form) }}
                    {{ block('form_actions') }}
                </form>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_basic %}

{% block form_ajax %}
<form class="rz-form form-vertical form-bordered"
      action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
      method="POST"
      {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
      >
    <div class="modal-header modal-primary">
        <button class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
        <h3>
            <i class="icon-th-large"></i>
            {% if admin.id(object) %}
                {{ "title_edit"|trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
            {% else %}
                {{ "title_create"|trans({}, 'SonataAdminBundle') }}
            {% endif %}
        </h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                {% if form.vars.errors|length > 0 %}
                    <div class="rz-form-alert-block">
                        <div class="alert alert-block alert-error sonata-ba-form-error">
                            <a class="close" data-dismiss="alert"><i class="icon-remove-sign"></i></a>
                            {{ form_errors(form) }}
                        </div>
                    </div>
                {% endif %}
                {{ block('form_body') }}
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ block('form_actions') }}
    </div>
</form>
{% endblock form_ajax %}

{% block form_body %}
    {% block sonata_pre_fieldsets %}
        <div class="tabbable tabbable-bordered">
        <ul class="nav nav-tabs tabs-inline tabdrop rz-form-tabs">
            {% for name, form_group in admin.formgroups %}
                <li{% if loop.first %} class="active"{% endif %}><a href="#tab_{{ admin.uniqid }}_{{ name|sonata_slugify }}"{% if app.request.isXmlHttpRequest  %} class="admin-ajax-ignore-tabbable" {% endif %}data-toggle="tab">{{ admin.trans(name)|humanize }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}

    {% spaceless %}
        <div class="tab-content">
            {% for name, form_group in admin.formgroups %}
                <div class="tab-pane {% if loop.first %} active{% endif %}" id="tab_{{ admin.uniqid }}_{{ name|sonata_slugify }}">
                    {% if form_group.description != '' %}
                        <div class="form-description">
                           <i class="icon-info-sign icon-2x"></i> {{ form_group.description|raw }}
                        </div>
                    {% endif %}
                    {% for field_name in form_group.fields %}
                        {% if admin.formfielddescriptions[field_name] is defined %}
                                {{ form_row(form[field_name])}}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
    {% block sonata_post_fieldsets %}
        </div>
    {% endblock %}
{% endblock form_body%}

{% block form_actions %}
    {% block formactions %}
        {% if not app.request.isxmlhttprequest %}
            <div class="form-actions">
                {{ block('form_actions_buttons') }}
            </div>
        {% else %}
            <div class="form-actions-ajax">
                {{ block('form_actions_buttons') }}
            </div>
        {% endif %}
    {% endblock formactions %}
{% endblock form_actions%}

{% block form_actions_buttons %}
    {% if admin.supportsPreviewMode %}
        <button class="btn btn-primary persist-preview" name="btn_preview" type="submit">
            <i class="icon-save"></i>
            <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}</span>
        </button>
    {% endif %}
    {% if admin.id(object) %}
        <button type="submit" class="btn btn-primary" name="btn_update_and_edit">
            <i class="icon-edit"></i>
            <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</span>
        </button>
        {% if not app.request.isxmlhttprequest %}
            {% if admin.hasroute('list') %}
            <button type="submit" class="btn btn-primary" name="btn_update_and_list" value="{{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}">
                <i class="icon-reorder"></i>
                <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</span>
            </button>
            {% endif %}
            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
            <a class="btn btn-primary " href="{{ admin.generateObjectUrl('delete', object) }}">
                <i class="icon-trash"></i>
                <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</span>
            </a>
            {% endif %}
        {% else %}
            <button class="btn btn-primary" type="button" data-dismiss="modal">
                <i class="icon-undo"></i>
                <span class="hidden-phone hidden-tablet visible-desktop"> Close</span>
            </button>
        {% endif %}
    {% else %}
        <button class="btn btn-primary" type="submit" name="btn_create_and_edit" value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}">
            <i class="icon-save"></i>
            <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</span>
        </button>
        {% if not app.request.isxmlhttprequest %}
        <button class="btn btn-primary" type="submit" name="btn_create_and_create" value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}">
            <i class="icon-edit"></i>
            <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</span>
        </button>
        <button class="btn btn-primary" type="button">
            <i class="icon-refresh"></i>
            <span class="hidden-phone hidden-tablet visible-desktop"> Reset Form</span>
        </button>
        {% else %}
        <button class="btn btn-primary" type="button" data-dismiss="modal">
            <i class="icon-remove-sign"></i>
            <span class="hidden-phone hidden-tablet visible-desktop"> Close</span>
        </button>
        {% endif %}
    {% endif %}
    {% if admin.hasroute('list') and admin.isGranted('LIST') and not app.request.isxmlhttprequest %}
        <a class="btn btn-primary  sonata-action-element " href="{{ admin.generateUrl('list') }}">
            <i class="icon-list"></i>
            <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</span></a>
    {% endif %}
{% endblock form_actions_buttons %}

{% block form %}
    {% set url = admin.id(object) ? 'edit' : 'create' %}
    {% if not admin.hasRoute(url)%}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        {% if app.request.isxmlhttprequest %}
            {{ block('form_ajax') }}
        {% else %}
            {{ block('form_basic') }}
        {% endif %}
    {% endif%}
{% endblock %}
