{#

This file is part of the Rz package.

(c) mell m. zamora <me@rmzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
<div class="row-fluid admin-action-buttons">
    <div class="span12">
        <div class="sonata-actions btn-group hidden-phone hidden-tablet visible-desktop pull-right">
            {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
            {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
            {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
        </div>
        <div class="btn-group visible-phone visible-tablet hidden-desktop  pull-right">
            <button class="btn btn-primary admin-actions admin-actions-group">Select an action to perform</button>
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle admin-actions"><i class=" icon-chevron-down"></i></button>
            <ul class="dropdown-menu">
                {% include 'SonataAdminBundle:Button:edit_button_mobile.html.twig' %}
                {% include 'SonataAdminBundle:Button:show_button_mobile.html.twig' %}
                {% include 'SonataAdminBundle:Button:list_button_mobile.html.twig' %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span5">
            <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="icon-time"></i>
                        {# TODO: set on configuration #}
                    </h3>
                </div>
                <div class="box-content nopadding">
                    <table class="table table-bordered table-striped" id="revisions">
                        <thead>
                            <tr>
                                <th>{{ "td_revision"|trans({}, 'SonataAdminBundle') }}</th>
                                <th>{{ "td_timestamp"|trans({}, 'SonataAdminBundle') }}</th>
                                <th>{{ "td_username"|trans({}, 'SonataAdminBundle') }}</th>
                                <th>{{ "td_action"|trans({}, 'SonataAdminBundle') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for revision in revisions %}
                                <tr>
                                    <td>{{ revision.rev}}</td>
                                    <td>{{ revision.timestamp | date}}</td>
                                    <td>{{ revision.username}}</td>
                                    <td style='text-align:center'><a href="{{ admin.generateObjectUrl('history_view_revision', object, {'revision': revision.rev }) }}" class="revision-link btn" rel="{{ revision.rev }}" title="{{ "label_view_revision"|trans({}, 'SonataAdminBundle') }}"><i class="icon-eye-open"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
        </div>
        <div id="revision-detail" class="span7 revision-detail"></div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {

            jQuery('a.revision-link').bind('click', function(event) {
                event.stopPropagation();
                event.preventDefault();

                jQuery('#revision-detail').html('');
                jQuery('table#revisions tbody tr').removeClass('current');
                jQuery(this).parent('').removeClass('current');

                jQuery.ajax({
                    url: jQuery(this).attr('href'),
                    success: function(data) {
                        jQuery('#revision-detail').html(data);
                    }
                });

                return false;
            })
        });
    </script>
{% endblock %}
