{#

This file is part of the Rz package.

(c) mell m. zamora <me@rmzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{# Labels #}
{% block form_label %}
{% spaceless %}

    {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ " control-label" }) %}

    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}

        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% if in_list_checkbox is defined and in_list_checkbox and widget is defined %}
            <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ widget|raw }}
                <span>
                    {% if not sonata_admin.admin%}
                        {{- label|trans({}, translation_domain) -}}
                    {% else %}
                        {{- label|trans({}, sonata_admin.admin.translationDomain) -}}
                    {% endif%}
                </span>
            </label>
        {% else %}
            {% if (expanded_custom_checkbox is defined and expanded_custom_checkbox) and widget is defined %}
                <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ widget|raw }}
                {% if not sonata_admin.admin%}
                    {{- label|trans({}, translation_domain) -}}
                {% else %}
                    {{- label|trans({}, sonata_admin.admin.translationDomain) -}}
                {% endif%}
                {{ required ? '*' : '' }}
                </label>
            {% elseif (icheck_endabled is defined and icheck_endabled) and widget is defined %}
                <div class="check-line rz-icheckme">
                    {{ widget|raw }} <label {% if icheck_inline %}class='inline'{% endif %}>{% if not sonata_admin.admin%}{{ label|trans({}, translation_domain) }}{% else %}{{ label|trans({}, sonata_admin.admin.translationDomain) }}{% endif%}</label>
                    {% if help is defined and help %}
                        <span class="help-block sonata-ba-field-help">
                            {{ sonata_admin.admin.trans(sonata_admin.field_description.help, {}, sonata_admin.field_description.translationDomain)|raw }}
                        </span>
                    {% endif %}
                </div>
            {% else %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {% if not sonata_admin.admin %}
                        {{- label|trans({}, translation_domain) -}}
                    {% else %}
                        {{ sonata_admin.admin.trans(label, {}, sonata_admin.field_description.translationDomain) }}
                    {% endif%}
                    {{ required ? '*' : '' }}
                </label>
            {% endif %}
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block rz_tree_options %}
{% spaceless %}
    {% set level = -1 %}
    <div id="tree_{{ id }}">
        {{ block('rz_tree_options_root_open') }}
            {% for child in form %}
                {% if loop.first %}
                    <li>
                        {{ form_label(child, child.vars.label|default(null),
                                { 'in_list_checkbox' : true,
                                  'widget' : form_widget(child)
                                }
                            )
                        }}
                    </li>
                {% else %}

                    {% if form.vars.current.id == child.vars.label.id %}
                        {% set disabled = true %}
                        {% set disabled_level = child.vars.label.level %}
                        {% set disabled_root = child.vars.label.root %}
                    {% endif %}

                    {% if disabled and  child.vars.label.level < disabled_level %}
                        {% set disabled = false %}
                    {% endif  %}

                    {% if child.vars.label.isRoot %}
                        {% if loop.index > 2 %}
                            {% for lvl in 0..level %}
                                </ul>
                            {% endfor %}
                            </li>
                        {% endif %}
                        {% set level = -1 %}
                    {% endif %}

                    {% if child.vars.label.level == level  %}
                        <li>{{ block('rz_tree_option_child') }}</li>
                    {% elseif child.vars.label.level > level %}
                        <li>{{ block('rz_tree_option_child') }}
                            <ul>
                    {% elseif child.vars.label.level < level %}
                        {% for lvl in 0..level %}
                            </ul>
                        {% endfor %}
                        </li>
                        <li>{{ block('rz_tree_option_child') }}</li>
                    {% endif %}
                    {% set level = child.vars.label.level %}

                {% endif %}
            {% endfor %}
        {{ block('rz_tree_options_root_close') }}
    </div>
{% endspaceless %}
{% endblock rz_tree_options %}

{% block rz_tree_option_child %}
{% if disabled %}
    {{ form_label(child, child.vars.label|default(null),
            { 'in_list_checkbox' : true,
              'widget' : form_widget(child, {'attr': {'disabled':true} })
            }
          )
    }}
{% else %}
    {{ form_label(child, child.vars.label|default(null),
            { 'in_list_checkbox' : true,
              'widget' : form_widget(child)
            }
        )
    }}
{% endif %}
{% endblock %}

{% macro renderTree(child) %}
{{ block('rz_tree_options_child_open') }}
    {{ form_label(child, child.vars.label|default(null),
        { 'in_list_checkbox' : true,
          'widget' : form_widget(child)
        })
    }}
    {% if child.vars.label.getChildren|length %}
        <ul>
            {% for child in child.vars.label.getChildren %}
                {{ _self.recursiveCategory(child) }}
            {% endfor %}
        </ul>
    {% endif %}
{{ block('rz_tree_options_child_close') }}
{% endmacro %}

{#{% block rz_tree_options %}#}
    {#<div {{ block('widget_container_attributes_choice_widget') }}>#}
        {#{% set level = -1 %}#}
        {#{% set is_closed = false %}#}
        {#{% set prev_root = null %}#}
        {#{% for child in form %}#}
            {#{% if loop.first %}#}
                {#{{ block('rz_tree_options_root_open') }}#}
                {#{{ block('rz_tree_option_child_none') }}#}
                {#{{ block('rz_tree_options_root_close') }}#}
            {#{% else %}#}
                {#{% if child.vars.label.level == level %}#}
                    {#{{ block('rz_tree_option_child') }}#}
                {#{% elseif child.vars.label.level > level %}#}
                    {#{{ block('rz_tree_options_root_open') }}#}
                    {#{{ block('rz_tree_option_child') }}#}
                {#{% elseif child.vars.label.level < level %}#}
                    {#{% if child.vars.label.isRoot %}#}
                        {#{% for lvl in 1..level %}#}
                            {#{{ block('rz_tree_options_root_close') }}#}
                        {#{% endfor %}#}
                        {#{{ block('rz_tree_options_root_close') }}#}
                        {#{{ block('rz_tree_options_root_open') }}#}
                        {#{{ block('rz_tree_option_child') }}#}
                    {#{% else %}#}
                        {#{{ block('rz_tree_options_root_close') }}#}
                        {#{{ block('rz_tree_option_child') }}#}
                    {#{% endif %}#}
                {#{% endif %}#}
                {#{% set level = child.vars.label.level %}#}
            {#{% endif %}#}
        {#{% endfor %}#}
    {#</div>#}
{#{% endblock rz_tree_options %}#}

{#{% block rz_tree_option_child_none %}#}
{#<li>#}
{#{{ form_label(child, child.vars.label|default(null),#}
    {#{ 'in_list_checkbox' : true,#}
      {#'widget' : form_widget(child)#}
    {#}#}
{#)}}#}
{#</li>#}
{#{% endblock rz_tree_option_child_none %}#}

{#{% block rz_tree_option_child %}#}
{#<li>#}
{#{% if child.vars.label.id == form.vars.current.id#}
   {#or form.vars.current.hasChild(child.vars.label) %}#}
{#{{ form_label(child, child.vars.label|default(null),#}
    {#{ 'in_list_checkbox' : true,#}
      {#'widget' : form_widget(child, {'attr': {'disabled':true} })#}
    {#}#}
{#)}}#}
{#{% else %}#}
{#{{ form_label(child, child.vars.label|default(null),#}
    {#{ 'in_list_checkbox' : true,#}
      {#'widget' : form_widget(child)#}
    {#}#}
{#)}}#}
{#{% endif %}#}
{#</li>#}
{#{% endblock rz_tree_option_child %}#}

{% block rz_tree_options_root_open %}
<ul>
{% endblock rz_tree_options_root_open %}

{% block rz_tree_options_root_close %}
</ul>
{% endblock rz_tree_options_root_close %}

{% block rz_tree_options_child_open %}
<li>
{% endblock rz_tree_options_child_open %}

{% block rz_tree_options_child_close %}
</li>
{% endblock rz_tree_options_child_close %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {% if form.vars.tree_enabled is defined and form.vars.tree_enabled %}
                {{ block('rz_tree_options') }}
            {% else %}
                {% for child in form %}
                    {{ form_label(child, child.vars.label|default(null), { 'icheck_endabled' : true, 'icheck_inline':true, 'widget' : form_widget(child)}) }}
                {% endfor %}
            {% endif %}
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block form_row %}
    {% if sonata_admin is not defined or not sonata_admin_enabled or not sonata_admin.field_description %}
        <div class="control-group{% if errors|length > 0%} error{%endif%}" id="sonata-ba-field-container-{{ id }}">
        {{ form_label(form, label|default(null)) }}
        <div class="controls sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %}">
        {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
        </div>
    {% else %}
        <div class="control-group{% if errors|length > 0%} error{%endif%}" id="sonata-ba-field-container-{{ id }}">
            {% if icheck_endabled is defined and  icheck_endabled %}
                {{ form_label(form, null, { 'icheck_endabled' : true, 'icheck_inline':icheck_inline, 'widget' : form_widget(form), 'help': sonata_admin.field_description.help } ) }}
            {% elseif switch_enabled is defined and  switch_enabled %}
                {{ block('checkbox_switch_widget') }}
            {% else %}
                {% block label %}
                        {% if sonata_admin.field_description.options.name is defined %}
                            {{ form_label(form, sonata_admin.field_description.options.name, { 'attr' : {'class' : 'control-label'} }) }}
                        {% else %}
                            {{ form_label(form, label|default(null), { 'attr' : {'class' : 'control-label'} }) }}
                        {% endif %}
                {% endblock %}
                <div class="controls sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %}">
                    {% if (select2 is defined and select2) or (multiselect_enabled is defined and multiselect_enabled)  %}
                        <div class="row-fluid
                                    {% if select2 %} rz-chosen{% endif %}
                                    {% if multiselect_enabled %} rz-multipleselect{% endif %}
                                    {% if multiple is defined and multiple == 'multiple' %} chosen-multi{% endif %}
                                   ">
                            <div class="span12">
                                {{ block('rz_form_row') }}
                            </div>
                        </div>
                        {% if sonata_admin.field_description.help %}
                            <div class="row-fluid">
                                <div class="span12">
                                    {{ block('rz_form_row_help') }}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {{ block('rz_form_row') }}
                        {% if sonata_admin.field_description.help %}
                            {{ block('rz_form_row_help') }}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock form_row %}

{% block rz_form_row %}
    {{ form_widget(form) }}
    {{ block('rz_form_row_error') }}
{% endblock %}

{% block rz_form_row_error %}
    {% if errors|length > 0 %}
    <div class="help-inline sonata-ba-field-error-messages rz-field-error-messages">
        {{ form_errors(form) }}
    </div>
    {% endif %}
{% endblock %}

{% block rz_form_row_help %}
    <span class="help-block sonata-ba-field-help">
        {{ sonata_admin.admin.trans(sonata_admin.field_description.help, {}, sonata_admin.field_description.translationDomain)|raw }}
    </span>
{% endblock %}

{% block sonata_type_immutable_array_widget %}
    {% spaceless %}
    <div class="box box-color green box-small box-bordered sonata-ba-box-settings">
        <div class="box-title">
            <h3><i class="icon-cog"></i></h3>
        </div>
        <div class="box-content nopadding">
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form) }}

                {% for key, child in form %}
                    {{ block('sonata_type_immutable_array_widget_row') }}
                {% endfor %}

                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    {% endspaceless %}
{% endblock sonata_type_immutable_array_widget %}


{% block sonata_type_immutable_array_widget_row %}
    {% spaceless %}
        <div class="control-group{% if errors|length > 0%} error{%endif%}" id="sonata-ba-field-container-{{ id }}-{{ key }}">
            <div class="row-fluid">
                <div class="span12">
                {{ form_label(child) }}
                </div>
            </div>
            <div class="controls sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %}">
                <div class="row-fluid">
                    <div class="span12">
                        {{ form_widget(child) }}
                    </div>
                </div>
            </div>
            {% if errors|length > 0 %}
                <div class="help-inline sonata-ba-field-error-messages rz-field-error-messages">
                    {{ form_errors(child) }}
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block sonata_type_native_collection_widget_row %}
    {% spaceless %}
    <div class="control-group{% if errors|length > 0%} error{%endif%} sonata-collection-row">
        <div class="field-container">
            <div class="row-fluid">
                {{ form_label(child) }}
                <div class="controls sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %}">
                    <div class="row-fluid">
                        <div class="span12">
                            {{ form_widget(child) }}
                        </div>
                    </div>
                    {% if allow_delete %}
                        <div class="row-fluid">
                            <div class="span12">
                            <span id="field_actions_{{ id }}" class="field-actions">
                                <span class="btn-group">
                                <a href="#" class="btn sonata-ba-action btn-danger sonata-collection-delete">
                                    <i class="icon-trash"></i>
                                    <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</span>
                                </a>
                                </span>
                            </span>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if errors|length > 0 %}
                    <div class="help-inline sonata-ba-field-error-messages rz-field-error-messages">
                        {{ form_errors(child) }}
                    </div>
                {% endif %}

            </div>

        </div>
    </div>
    {% endspaceless %}
{% endblock sonata_type_native_collection_widget_row %}

{% block sonata_type_native_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set child = prototype %}
            {% set attr = attr|merge({'class':'prototype-container'}) %}
            {% set attr = attr|merge({'data-prototype': block('sonata_type_native_collection_widget_row'), 'data-prototype-name': prototype.vars.name, 'class': attr.class|default('') }) %}
        {% endif %}

        <div {{ block('widget_container_attributes') }}>
            <div class="box box-color green box-small box-bordered sonata-ba-box-settings" id="sonata-collection-main-container-{{ id }}">
                <div class="box-title">
                    <h3><i class="icon-tasks"></i></h3>
                </div>
                <div class="box-content nopadding">
                    <div class="sonata-collection-container-{{ id }}" data-count="{{ form.count() }}">
                        {{ form_errors(form) }}
                        {% for child in form %}
                            {{ block('sonata_type_native_collection_widget_row') }}
                        {% endfor %}
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>
            {% if allow_add %}
            <div class="row-fluid" style="padding-bottom:15px">
                <div class="span12">
                    <span id="field_actions_{{ id }}" class="field-actions">
                        <span class="btn-group">
                            <a href="#" class="btn btn-success btn-sm btn-outline sonata-ba-action sonata-collection-add">
                                <i class="icon-plus"></i>
                                <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_add'|trans({}, 'SonataAdminBundle') }}</span>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock sonata_type_native_collection_widget %}

{% block sonata_type_model_autocomplete_widget %}
	{% include template %}
{% endblock sonata_type_model_autocomplete_widget %}

