{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block sonata_help %}
    {% spaceless %}
        {% if sonata_help is defined and sonata_help %}
            <span class="help-block sonata-ba-field-widget-help">{{ sonata_help|raw }}</span>
        {% elseif help_block is defined and help_block %}
            <span class="help-block sonata-ba-field-widget-help">{{ help_block|raw }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block textarea_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
    {{ block('sonata_help') }}
{% endblock textarea_widget %}

{% block choice_widget_collapsed %}
	{{ parent() }}
	{{ block('sonata_help') }}
{% endblock choice_widget_collapsed %}
