{# Widgets #}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{# Labels #}
{% block form_label %}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ " control-label" }) %}

        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}

        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% if in_list_checkbox is defined and in_list_checkbox and widget is defined %}
            <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
            {{ widget|raw }}
            <span>
                {% if not sonata_admin.admin%}
                    {{- label|trans({}, translation_domain) -}}
                {% else %}
                    {{- label|trans({}, sonata_admin.admin.translationDomain) -}}
                {% endif%}
            </span>
            </label>
        {% else %}

            {% if (expanded_custom_checkbox is defined and expanded_custom_checkbox) or (uniform_custom_label is defined and uniform_custom_label) and widget is defined %}
                <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ widget|raw }}
                {% if not sonata_admin.admin%}
                    {{- label|trans({}, translation_domain) -}}
                {% else %}
                    {{- label|trans({}, sonata_admin.admin.translationDomain) -}}
                {% endif%}
                {{ required ? '*' : '' }}
                </label>
            {% else %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {% if not sonata_admin.admin%}
                    {{- label|trans({}, translation_domain) -}}
                {% else %}
                    {{- label|trans({}, sonata_admin.admin.translationDomain) -}}
                {% endif%}
                {{ required ? '*' : '' }}
                </label>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{# Misc #}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% if not form.parent  or 'repeated' in form.vars['block_prefixes'] %}
                <div class="control-group error">
            {% endif %}
            <span class="help-inline">
            {% for error in errors %}
                {% if loop.first %}
                    {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
                {% endif %}
            {% endfor %}
        </span>
            {% if not form.parent  or 'repeated' in form.vars['block_prefixes'] %}
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
